.menu{
    display: flex;
    gap: 8%;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    /* padding: 2% 0; */
}

.user{
    display: flex;
    align-items: center;
    width: 18%;
    gap: 10%;
}
.imgLogo{
    width: 10%;
}
.carrinho{
    cursor: pointer;
}

.modalMenu{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 3;
}
.linkMenu a{
    text-decoration: none;
    color: #000;
}
.linkMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.btn_sair{
    padding: 5px;
    font-size: medium;
    background-color: #fff;
    border: #fff 1px solid;
    cursor: pointer;
}

.btn-modalMenu{
    display: flex;
    position: absolute;
    margin: 30px;
    justify-content: flex-end;
    cursor: pointer;
}

.btn_pesquisa{
    cursor: pointer;
}